html {
    box-sizing: border-box;
}
*, *:before, *:after {
    box-sizing: inherit;
}

body {
    background-color: rgb(24, 32, 38);
    color: aliceblue;
    width: 100%;
}

.midi-wrapper {
    padding-block: 40px;
    margin-inline: auto;
    width: fit-content;
}

.midi-wrapper button {
    font-size: 3rem;
    color: rgb(24, 32, 38);
    width: 3ch;
    height: 3em;
    border: 2px solid rgb(24, 32, 38);
    border-radius: 0 0 1.5ch 1.5ch;
    margin: 10px;
    box-shadow: 0 0 15px 5px var(--note-color);
}

.sharps-wrapper {
    padding-bottom: 20px;
    padding-inline: 3em;
}

#d-sharp {
    margin-right: 2.5em;
}
#c, .c {
    --note-color: indianred;
}
#c-sharp, .c-sharp {
    --note-color: hotpink;
}
#d, .d {
    --note-color: lightsalmon;
}
#d-sharp, .d-sharp {
    --note-color: orange;
}
#e, .e {
    --note-color: gold;
}
#f, .f {
    --note-color: yellowgreen;
}
#f-sharp, .f-sharp {
    --note-color: lime;
}
#g, .g {
    --note-color: mediumaquamarine;
}
#g-sharp, .g-sharp {
    --note-color: teal;
}
#a, .a {
    --note-color: steelblue;
}
#a-sharp, .a-sharp {
    --note-color: mediumslateblue;
}
#b, .b {
    --note-color: mediumpurple;
}

.melody-selection {
    margin-inline: auto;
    width: fit-content;
}

.melody-button {
    width: 5em;
    height: 5em;
    background-color: var(--note-color);
    border: 1px solid grey;
}

.melody-button:hover {
    border-color: white;
}

.melody-button.selected {
    border: 2px solid white;
}

.play-button-wrapper {
    margin-inline: auto;
    width: fit-content;
    padding-top: 40px;
}

.play-button-wrapper button {
    font-size: 1.5rem;
    padding: 0.25em;
}

@media screen and (max-width: 730px) {
    .midi-wrapper button {
        font-size: 2rem;
    }
}
@media screen and (max-width: 520px) {
    .midi-wrapper button {
        font-size: 1rem;
        margin: 0.2rem;
        padding: 0;
      }
    .sharps-wrapper {
      padding-inline: 1.2rem;
    }
    .melody-button {
      width: 3em;
      height: 3em;
    }
}
